*,
*:before,
*:after {
  box-sizing: border-box;
}
label[for] {
  cursor: pointer;
}
input[type="checkbox"] {
  display: none;
}
body {
  background-color: #000;
}
.lightbox,
.grid {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}
.lightbox {
  z-index: 1;
  min-height: 100%;
  overflow: auto;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
.lightbox img {
  position: fixed;
  top: 50%;
  left: 50%;
  max-width: 96%;
  max-height: 96%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
input[type="checkbox"]:checked + .lightbox {
  -webkit-transform: scale(1);
  transform: scale(1);
}
input[type="checkbox"]:checked ~ .grid {
  opacity: .125;
}
.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: auto;
  padding: 7px;
  overflow: auto;
  z-index: 0;
  background-color: #442323;
  text-align: center;
  -webkit-transition: opacity .75s;
  transition: opacity .75s;
  max-width: 1100px;
  max-height: 680px;
  margin-top: 110px;
  margin-left: 180px;
}
.grid .grid-item {
  display: block;
  width: 25%;
  padding: 7px;
  opacity: .75;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.grid .grid-item:hover {
  opacity: 1;
}
.grid img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) {
  .grid .grid-item {
    width: 33.3333%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .grid {
    margin-top: 110px;
    margin-left: 0px;
    max-height: 910px;
  }
  .grid .grid-item {
    width: 33.3333%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  .grid {
    margin-top: 110px;
    margin-left: 0px;
    max-height: 655px;
  }
  .grid .grid-item {
    width: 33%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  .grid {
    margin-top: 70px;
    margin-left: 0px;
    max-height: 500px;
  }
  .grid .grid-item {
    width: 100%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  .grid {
    margin-left: 0px;
    margin-top: 60px;
    max-height: 260px;
  }
  .grid .grid-item {
    width: 25%;
  }
}
